{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Главная Страница</title>

  <!-- Custom styles for this template -->
  <link type="text/css" href="{% static 'css/blog-topnav.css' %}" rel="stylesheet" ></link>
  <link type="text/css" href="{% static 'css/blog-edit-desc.css' %}" rel="stylesheet" ></link>
  <script src="https://kit.fontawesome.com/d2681bb135.js" crossorigin="anonymous"></script>

</head>

<body>


  <!-- Navigation -->
  <div class="topnav">
    {% if request.user.is_authenticated %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a href="{% url 'create' %}">написать пост</a>
      <a class="right" href="{% url 'logout' %}">Выйти</a>
      <div class="search-container"
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% else %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a class="right" href="{% url 'register' %}">Зарегистрироватся</a>
      <a class="right" href="{% url 'login' %}">Войти</a>
      <div class="search-container"
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% endif %}
  </div>
  <div class="form">
    <form enctype="multipart/form-data" method="post">{% csrf_token %}
      <h1>Описание Поста</h1>
      <p><textarea rows="7" name="description" id="id_description" cols="70" ></textarea></p>
      <button class="create-post" placeholder="Изображение в содержании" type="submit">Сохранить</button>
    </form>
  </div>
</body>

</html>
