{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <style type="text/css">
  </style>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Измения Поста</title>

  <!-- Bootstrap core CSS -->
  <link type="text/css" href="{% static 'css/blog-topnav.css' %}" rel="stylesheet" ></link>

  <!-- Custom styles for this template -->
  <link type="text/css" href="{% static 'css/blog-post_publish.css' %}" rel="stylesheet" ></link>
</head>

<body>

  <!-- Navigation -->
  <div class="topnav">
    {% if request.user.is_authenticated %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a href="{% url 'create' %}">написать пост</a>
      <a class="auu" href="{{ request.user.get_absolute_url }}" >{{ request.user.username }}</a>
      <a class="right" href="{% url 'logout' %}">Выйти</a>
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% else %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python fa-1x" ></i>  PYBLOG</a>
      <a class="right" href="{% url 'register' %}">Зарегистрироватся</a>
      <a class="right" href="{% url 'login' %}">Войти</a>
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% endif %}
  </div>
  <!-- Page Content -->
  <div class="create-post-form">
    <form enctype="multipart/form-data" method="post">{% csrf_token %}
      <h1>Изменить Пост</h1>
      <p>
        <p><label>Название поста</label><p>
        <input class="name" id="id_name" type="text" value="{{ form.initial.name }}" ></input>
      </p>
      <p>
        <p><label>Содержание поста</label><p>
        {{ form.body }}
      </p>
      <button class="create-post"type="submit">Сохранить</button>
    </form>
  </div>
</body>

</html>
