{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Вход пользователя</title>
  <link href="{% static 'css/blog-login.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d2681bb135.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="topnav">
    {% if request.user.is_authenticated %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a href="{% url 'create' %}">написать пост</a>
      <a class="right" href="{% url 'logout' %}">Выйти</a>
      <div class="search-container"
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% else %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a class="right" href="{% url 'register' %}">Зарегистрироватся</a>
      <div class="search-container"
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% endif %}
  </div>
  <div class="login-form">
    <form method="post">{% csrf_token %}
      <p><input type="text" id="inputUsername" name="username" placeholder="Логин пользователя" class="user-login" required></p>
      <p><input type="password" id="password" name="password" placeholder="Пароль Ползователя" class="user-password" required></p>
      {% for field in login_form %}
          <p>
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
      {% endfor %}
      <p><button type="submit" class="submit-lgn-btn">Войти</button></p>
    </form>
  </div>
</body>

</html>
