{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ author.username }}</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-my-blog.css' %}" rel="stylesheet">
  <link href="{% static 'css/blog-topnav.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d2681bb135.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="topnav">
    {% if request.user.is_authenticated %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a href="{% url 'create' %}">написать пост</a>
      <a class="auu" href="{{ request.user.get_absolute_url }}" >{{ request.user.username }}</a>
      <a class="right" href="{% url 'logout' %}">Выйти</a>
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% else %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a class="right" href="{% url 'register' %}">Зарегистрироватся</a>
      <a class="right" href="{% url 'login' %}">Войти</a>
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% endif %}
  </div>
  <div class="card">
    <div style="display:flex;" >
      <img style="max-width : 150px;max-height : 150px; padding: 10px 10px;" src="{{ author.profile_pic.url }}" ></img>
      <a class="author-username" >{{ author.username }}</a>
      {% if author.is_superuser == True and author.is_admin == True %}
      <a class="author-stats" style="color: purple;">[Админ]</a>
      {% endif %}
      {% if author.is_admin == True and author.is_superuser == False %}
      <a class="author-stats" style="color : blue;">[модератор]</a>
      {% endif %}
      {% if author.is_admin == False and author.is_staff == False %}
      <a class="author-stats" style="color: green;">[Пользователь]</a>
      {% endif %}
    </div>
    <div style="display : flex;" >
      {% if author.description == "" %}
      <p class="author-desc" >Описания нету.</p>
      {% else %}
      <p class="author-desc" >{{ author.description }}</p>
      {% endif %}
      {% if request.user == author %}
      <a href="{% url 'edit-desc' author.id %}" ><i style="margin-top: 6px; margin-left: 20px; color: black;" class="far fa-edit fa-2x"></i><a/>
      {% else %}
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="like-dislike">
      <a>Рейтинг:   </a>
      <a class="lkcount">675</a>
      <a style="margin-left: 20px;"  >Публикации:   </a>
      <a class="lkcount">675</a>
      {% if author == request.user %}
      {% else %}
      <a class="btn">Подписатся</a>
      {% endif %}
    </div>
  </div>
  <div class="card" >
    <h1>Публикации:</h1>
  </div>
  {% for post in posts %}
  <div class="card-post">
    <h2 class="post-name" >{{ post.name }}</h2>
    <h5 class="post-author-date" >{{ post.author }}, {{ post.date_time }}</h5>
    <p>{{ post.body|truncatechars:500|safe }}</p>
    <div class="read-more">
    <a href="{{ post.get_absolute_url }}">Читать Дальше --></a>
    </div>
  </div>
  {% endfor %}
</body>

</html>
