{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ post.name }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/blog-topnav.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-cnf-dlt.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d2681bb135.js" crossorigin="anonymous"></script>  

</head>

<body>

  <!-- Navigation -->
  <div class="topnav">
    {% if request.user.is_authenticated %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a href="{% url 'create' %}">написать пост</a>
      <a class="right" href="{% url 'logout' %}">Выйти</a>
      <div class="search-container"
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% else %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a class="right" href="{% url 'register' %}">Зарегистрироватся</a>
      <a class="right" href="{% url 'login' %}">Войти</a>
      <div class="search-container"
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% endif %}
  </div>
  <div class="container">
    <form method="POST">{% csrf_token %}
      <p>
        <div>
          <a style="font-family : monospace; font-size : 27px;">Вы точно хотите удалить пост "{{ post.name }}" ?</a>
        </div>
      </p>
      <p>
        <div>
          <button type="submit">Да, Удалить</button>
          <a class="cncl" href="{{ post.get_absolute_url }}">Отменить</a>
        </div>
      </p>
    </form>
  </div>
</body>

</html>
