{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://kit.fontawesome.com/d2681bb135.js" crossorigin="anonymous"></script>
  <title>{{ post.name }}</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->
  <link type="text/css" href="{% static 'css/blog-post.css' %}" rel="stylesheet" ></link>

</head>

<body>
  <div class="topnav">
    {% if request.user.is_authenticated %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a href="{% url 'create' %}">написать пост</a>
      <a class="right" href="{% url 'logout' %}">Выйти</a>
      <div class="search-container"
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% else %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a class="right" href="{% url 'register' %}">Зарегистрироватся</a>
      <a class="right" href="{% url 'login' %}">Войти</a>
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% endif %}
  </div>
  <div class="leftcolumn">
    <div class="card">

      <h1 class="post-name">{{ post.name }}</h1>
      <div class="post-author">
        <div class="div-img">
          <img class="profile_pic" src="{{ post.author.profile_pic.url }}"><a href="{{ post.author.get_absolute_url }}" >{{ post.author.username }}<a/><a> {{ post.date_time }}</a>
        </div>
        {% if post.author == request.user %}
          <button class="edit-post-button"><a href="{% url 'edit' post.id %}" class="edit-post">Редактировать пост</a></button>
          <button class="delete-post-button"><a class="delete-post" href="{% url 'delete' post.id %}">Удалить пост</a></button>
        {% endif %}
      </div>
      {% if post.author == request.user %}
      {% else %}
        <div class="plz-sub">
          <button type="button"><a>Подписатся</a></button>
        </div>
      {% endif %}
      <div class="post-body">
        <a class="post-content" >{{ post.body | safe | linebreaks }}</a>
      </div>
    </div>
    <div class="card">
      <div class="like-dislike">
        <p><a style="font-family : monospace; font-size : 30px; margin-left : 10px;" >Оцените пост:</a>
          {% if user.is_authenticated %}
            <form>{% csrf_token %}
              <button type='submit' class="like-btn" name="like" id="id_like" ><i class="far fa-thumbs-up fa-3x" ></i><a>{{ post.lK_count }}</a>
            </form>{% csrf_token %}
              <button type="submit" class="dislike-btn" id="id_dislike" type="button"><i class="far fa-thumbs-down fa-3x"></i><a>{{ post.dislike_count }}</a>
            </form> 
          {% else %}
            <button onclick="alert('Чтобы оценивать пост нужно сначала войти в систему')" class="like-btn" name="like" id="id_like" ><i class="far fa-thumbs-up fa-3x" ></i><a>{{ post.likes }}</a>
            <button onclick="alert('Чтобы оценивать пост нужно сначала войти в систему')" class="dislike-btn" id="id_dislike" type="button"><i class="far fa-thumbs-down fa-3x"></i><a>{{ post.dislikes }}</a>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    {% if request.user.is_authenticated %}
    <form method="post">{% csrf_token %}
      <div class="comment-form">
        <p><h5 style="font-family : monospace; font-size : 22px;" >Прокомментировать Пост:</h5></p>
        <p><textarea name="body" id='id_body' class="comment-form-textarea" rows="5"></textarea></p>
        <p><button type="submit" class="btn btn-primary">Потвердить</button></p>
      </div>
    </form>
    {% else %}
    <p>вам нужно зарегистрироватся или войти чтобы оставить комментарий</p>
    <p class="m-auto">
      <a style="color:blue;text-decoration : none;" href="{% url 'register' %}">Зарегистрируйтесь</a> или
      <a style="color:blue;text-decoration : none;" href="{% url 'login' %}">Войдите</a>.
    </p>
    {% endif %}
  </div>
  {% for comment in comments %}
  <div class="card-comment">
    <div class="comment">
      <p><img src="{{ comment.author.profile_pic.url }}" style="width:50px;height:50px;" class="profile_pic"><a class="comment-author">{{ comment.author.username }}</a></p>
      <p><a style="font-family: monospace; font-size: 16px;" >{{ comment.body }}</a></p>
    </div>
  </div>
  {% endfor %}

</body>

</html>
