{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Регистрация Нового Аккаунта</title>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-register.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d2681bb135.js" crossorigin="anonymous"></script>

</head>

<body>

  <!-- Navigation -->
  <div class="topnav">
    {% if request.user.is_authenticated %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a href="{% url 'create' %}">написать пост</a>
      <a class="right" href="{% url 'logout' %}">Выйти</a>
      <div class="search-container"
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% else %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a class="right" href="{% url 'login' %}">Войти</a>
      <div class="search-container"
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% endif %}
  </div>
  <div class="register-form">
    <form enctype="multipart/form-data" method="post" >{% csrf_token %}
      <p><input type="email" name="email" id="inputEmail" class="email" placeholder="Электронная почта" required autofocus></p>
      <p><input type="text" name="username" id="inputUsername" class="login" placeholder="Имя пользователя" required></p>
      <p><input type="password" name="password1" id="inputPassword1" class="password" placeholder="Пароль" required></p>
      <p><input type="password" name="password2" id="inputPassword2" class="password" placeholder="Подтвердите Пароль" required></p>
      <button class="register-btn" type="submit">Зарегистрироватся</button>
    </form>
  </div>
</body>
</html>
