{% load static %}
<!DOCTYPE html >
<html lang="en">
<head>
  <title>Главная страница</title>
  <link type="text/css" href="{% static 'css/blog-cnf-dlt.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'css/blog-topnav.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'css/blog-scses.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d2681bb135.js" crossorigin="anonymous"></script>

</head>

<body>

  <div class="topnav">
    {% if request.user.is_authenticated %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a href="{% url 'create' %}">написать пост</a>
      <a class="right" href="{% url 'logout' %}">Выйти</a>
      <div class="search-container"
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% else %}
      <a class="big" href="{% url 'homepage' %}"><i class="fab fa-python" ></i>  PYBLOG</a>
      <a class="right" href="{% url 'register' %}">Зарегистрироватся</a>
      <a class="right" href="{% url 'login' %}">Войти</a>
      <div class="search-container"
        <form action="/action_page.php">
          <input type="text" placeholder="поиск... ">
        </form>
      </div>
    {% endif %}
  </div>
  <div class="container">
    <p><a style="font-family : monospace; font-size: 32px; margin-top: 20px;" >Вы успешно удалил ваш пост.</a></p>
    <p><a href="{% url 'homepage' %}" class="btn" >вернутся на главную страницу</a></p>
  </div>
</body>
</html>
