body {
  background-color: #f1f1f1;
  margin: 0;
}

.topnav {
  height: 58px;
  background-color: #abebe6;
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: monospace;
  color: black;
  background-color: #abebe6;
}


.topnav a.right {
 float: right;
}

.topnav a.big {
  font-family: monospace;
  font-style: oblique;
  font-weight: 900;
  font-size: 30px;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  border-radius: 12px;
  padding: 14px 16px;
  float: right;
  border: none;
  font-size: 22px;
}

.register-form {
  width: 100%;
  max-width: 330px;
  padding-top: 15px;
  margin: auto;
}

.register-form input.user-login, input.user-password, input.user-email {
  width: 343px;
  height: 46px;
  border-radius: 12px;
  font-family: monospace;
  font-size: 22px;
  border-color: #ebabb0;
  border-width: thick;
  border-style: solid;
}

.register-form button {
  background-color: #abebe6;
  font-family: monospace;
  font-size: 33px;
  width: 343px;
  height: 70px;
  border-radius: 12px;
  border-color: #abebe6;
  border-style: solid;
  border-width: thick;
}

.user-avatar label {
  font-family: monospace;
  color: black;
  font-size: 25px;
}
