body {
  background-color: #f1f1f1;
  margin: 0;
  font-family: monospace;
}

.topnav {
  width: auto;
  height: 58px;
  background-color: #abebe6;
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: monospace;
  color: black;
  background-color: #abebe6;
}


.topnav a.right {
 float: right;
}

.topnav a.big {
  font-family: monospace;
  font-style: oblique;
  font-weight: 900;
  font-size: 30px;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  border-radius: 12px;
  padding: 14px 16px;
  float: right;
  border: none;
  font-size: 22px;
}

.create-post-form input[type="text"] {
  border-radius: 12px;
  height: 50px;
  width: 850px;
  font-size: 22px;
  border-style: solid;
  border-color: #f1f1f1;
  border-width: thick;
  border: none;
}

.create-post-form iframe {
  margin-top: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: #f1f1f1;
  height: 1000px;
  border-width: thick;
  font-size: 22px;
  font-family: monospace;
  border: none;
}

.create-post-form h3 {
  text-align: center;
  font-family: monospace;
}

.create-post-form {
  margin-top: 58px;
  margin-left: 300px;
  float: left;
  font-size: 22px;
  font-family: monospace;
}

.create-post-form button.create-post {
  margin-top: 20px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 22px;
  height: 35px;
  width: 200px;
  background-color: #abebe6;
  border-color: #abebe6;
  border-style: solid;
  border-width: thick;
}
