body {
  background-color: #f1f1f1;
  margin: 0;
}

.topnav {
  width: auto;
  height: 58px;
  background-color: #abebe6;
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: monospace;
  color: black;
  background-color: #abebe6;
}


.topnav a.right {
 float: right;
}

.topnav a.big {
  font-family: monospace;
  font-style: oblique;
  font-weight: 900;
  font-size: 30px;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  border-radius: 12px;
  padding: 14px 16px;
  float: right;
  border: none;
  font-size: 22px;
}


.card {
  width: 1270px;
  margin-left: 150px;
  background-color: white;
  border-radius: 12px;
  border-color: #ebabb0;
  border-style: solid;
  border: none;
  padding: 20px 20px;
  margin-top: 10px;
}

.card-comment {
  width: 1270px;
  margin-left: 150px;
  background-color: white;
  border-radius: 12px;
  border-color: #ebabb0;
  border-style: solid;
  border: none;
  padding: 13px 13px;
  margin-top: 10px;
}

.post-author div.img-div {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.post-author a.profile_pic {
  max-width: 100%;
  height: auto;
}

.card h1.post-name {
  font-family: monospace;
  font-size: 60px;
}

.card a.post-content {
  font-family: monospace;
  font-size: 22px;
  margin-top: 100px;
  margin-left: 20px;
}

.post-author a {
  font-family: monospace;
  font-size: 25px;
  margin-left: 10px;
}

.plz-sub button {
  border-style: solid;
  border-color: #ebabb0;
  width: 149px;
  height: 35px;
  background-color: #ebabb0;
  border-radius: 7px;
  margin-left: 5px;
}

.plz-sub button a {
  font-family: monospace;
  font-size: 21px;
}

.post-author a.edit-post, a.delete-post {
  font-family: monospace;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.post-author button.edit-post-button {
  background-color: #ebabb0;
  border-color: #ebabb0;
  border-radius: 7px;
  border-style: solid;
  width: 230px;
  height: 28px;
}

.post-author button.delete-post-button {
  background-color: #ebabb0;
  border-color: #ebabb0;
  border-radius: 7px;
  border-style: solid;
  width: 230px;
  height: 28px;
}

.comment-form-textarea {
  border: none;
  border-radius: 7px;
  border-color: #abebe6;
  width: 500px;
  font-family: monospace;
  font-size: 22px;
  background-color: #f1f1f1;
}

.comment-form {
  margin-left: 23px;
}

.comment {
  margin-left: 23px;
}


.comment a.comment-author {
  font-size: 25px;
  font-family: monospace;
  color: black;
  font-weight: bold;
}


.like-dislike button[type="submit"] {
  margin-left : 20px;
  background-color: #f1f1f1;
  padding: 10px 10px;
  border-radius: 7px;
  border: none;
}
